@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font */
  --font-manrope: "Manrope", sans-serif;
  --main-background: #1e1e1e;
  /* Red */
  --red-45: #e50000;
  --red-50: #ff0000;
  --red-55: #ff1919;
  --red-60: #ff3333;
  --red-80: #ff9999;
  --red-90: #ffcccc;
  --red-95: #ffe5e5;
  --red-99: #fffafa;
  /* Black */
  --black-06: #0f0f0f;
  --black-08: #141414;
  --black-10: #1a1a1a;
  --black-12: #1f1f1f;
  --black-15: #262626;
  --black-20: #333333;
  --black-25: #404040;
  --black-30: #4c4c4c;
  /* Grey */
  --grey-60: #999999;
  --grey-65: #a6a6a6;
  --grey-70: #b3b3b3;
  --grey-75: #bfbfbf;
  --grey-90: #e4e4e7;
  --grey-95: #f1f1f3;
  --grey-97: #f7f7f8;
  --grey-99: #fcfcfd;
}

html {
  font-family: var(--font-manrope);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr min(90%, 100rem) 1fr;
  grid-template-rows: 7.5rem 1fr 31.5rem;
}

.grid-container > * {
  grid-column: 2;
}

.grid-container > .fluid {
  grid-column: 1 / -1;
}

@media (max-width: 1440px) {
  /* laptop */
  .grid-container {
    grid-template-rows: minmax(0, 6.12rem) 1fr minmax(0, 25.9rem);
  }
}

@media (max-width: 640px) {
  /* laptop */
  .grid-container {
    grid-template-rows: minmax(0, 6.4rem) 1fr minmax(0, 40.6rem);
  }
}
